/* Add a black background color to the top navigation */
.topnav {
  background-color:  #17202a ;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 12px 14px;
  text-decoration: none;
  font-size: 15px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}



/* Add a black background color to the top navigation */
.middlenav {
  background-color:   #212f3c;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.middlenav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 10px 12px;
  text-decoration: none;
  font-size: 14px;
}

/* Change the color of links on hover */
.middlenav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.middlenav a.active {
  background-color: #4CAF50;
  color: white;
}

